@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

html,body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
}

img{
    width: 100vw;
    margin: -4px 0 0 0;
    
}

a {
    display: block;
    background-color: rgba(187, 50, 50, 0.897);
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    font-weight: bolder;
    margin: -4px 0 0 0;
    
}

a:hover{
    background-color: red;

}